VITE_DRIVE_API_KEY=tu_api_key_de_google_aqui
VITE_DRIVE_FOLDER_SEMIPERMANENTE=id_carpeta_semipermanente
VITE_DRIVE_FOLDER_PRESS_ON=id_carpeta_press_on
VITE_DRIVE_FOLDER_POLYGEL=id_carpeta_polygel
VITE_DRIVE_FOLDER_TRADICIONAL=id_carpeta_manicura_tradicional
